NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=demo_wallet
DB_USER=root
DB_PASSWORD=password

ADJUTOR_BASE_URL=https://adjutor.lendsqr.com
ADJUTOR_API_KEY=your_adjutor_api_key
ADJUTOR_TIMEOUT_MS=5000
